<div class="container mx-auto mt-10 mb-10">
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    <!-- Grid Item 1 -->
    <div class="bg-white rounded-lg p-4 shadow-lg">
      <div class="flex flex-col items-center">
        <img src="../../../../assets/home/featurecard-1.svg" alt="Description" class="mb-4">
        <h2 class="text-lg font-semibold mb-2">Her siparişine bir kampanya</h2>
        <p class="text-gray-600 text-center">Getir'de vereceğin her siparişe uygun bir kampanya bulabilirsin.</p>
      </div>
    </div>
    <!-- Grid Item 2 -->
    <div class="bg-white rounded-lg p-4 shadow-lg">
      <div class="flex flex-col items-center">
        <img src="../../../../assets/home/featurecard-2.svg" alt="Description" class="mb-4">
        <h2 class="text-lg font-semibold mb-2">Dakikalar içinde kapında</h2>
        <p class="text-gray-600 text-center">Getir'le siparişin dakikalar içinde kapına gelir.</p>
      </div>
    </div>
    <!-- Grid Item 3 -->
    <div class="bg-white rounded-lg p-4 shadow-lg">
      <div class="flex flex-col items-center">
        <img src="../../../../assets/home/featurecard-3.svg" alt="Description" class="mb-4">
        <h2 class="text-lg font-semibold mb-2">Binlerce çeşit mutluluk</h2>
        <p class="text-gray-600 text-center">Getir'de binlerce çeşit arasından seçimini yapabilirsin.</p>
      </div>
    </div>
  </div>
</div>
