<div class="mt-10 max-w-screen-xl mx-auto min-w-[1000px]">

    <h3>Adreslerim</h3>

    <div class="grid grid-cols-1 bg-white rounded-2xl px-5 py-4 w-full">
        @for (address of addresses; track addresses) {
            <div class="flex gap-x-3 ">
                <mat-icon class=" text-slate-500">home</mat-icon>
                <h3 class="items-center justify-center flex">Ev</h3>
                <p>{{ address.publicAddress }}</p>
                <mat-icon (click)="onDeleteAddress(address.id)" class=" text-slate-500">delete</mat-icon>
            </div>
        }

        <hr class="mb-10">
        <!--    AddressModel add-->
        <h4 class="font-bold ">Adres Ekle</h4>
        <div class="flex gap-x-3 justify-between ">
            <div class="flex">
                <mat-icon class=" text-slate-500">home</mat-icon>
                <h3 class="items-center justify-center flex font-semibold">Ev adresi ekle</h3>
            </div>
            <mat-icon (click)="toggleStepper()" class=" text-slate-500">add</mat-icon>
        </div>

        @if (isStepperVisible) {
            <mat-stepper #stepper class="min-w-[900px]">
                <mat-step [stepControl]="firstFormGroup">
                    <form [formGroup]="firstFormGroup">
                        <ng-template matStepLabel>Adres Başlığı</ng-template>
                        <mat-form-field>
                            <mat-label>İsim</mat-label>
                            <input matInput placeholder="Canım Evim v.s" formControlName="firstCtrl" required>
                        </mat-form-field>
                        <div>
                            <button mat-button matStepperNext>İleri</button>
                        </div>
                    </form>
                </mat-step>
                <mat-step [stepControl]="secondFormGroup">
                    <form [formGroup]="secondFormGroup">
                        <ng-template matStepLabel>Adresiniz</ng-template>
                        <mat-form-field class="w-full">
                            <mat-label>Address</mat-label>
                            <input matInput formControlName="secondCtrl" placeholder="Bla bla mah. bla bla cad..."
                                   required>
                        </mat-form-field>
                        <div>
                            <button mat-button matStepperPrevious>Geri</button>
                            <button mat-button matStepperNext>İleri</button>
                        </div>
                    </form>
                </mat-step>
                <mat-step>
                    <ng-template matStepLabel>Bitti</ng-template>
                    <p>Adresiniz eklemek için ekle basınız</p>
                    <div>
                        <button mat-button matStepperPrevious>Geri</button>
                        <button mat-button (click)="submitAddress()">Ekle</button>
                    </div>
                </mat-step>
            </mat-stepper>
        }

    </div>

</div>
