
<aside class="w-64 flex flex-col flex-shrink-0 bg-custom-lavender rounded-lg shadow-lg md:block" aria-label="Sidebar">
  <div class="flex-1 overflow-y-auto py-4 px-3">
    <ul class="space-y-4">
      <li>
        <h2 class="text-lg font-semibold text-primary-brand-color">
          Kategoriler
        </h2>
        <ul class="mt-3 space-y-2">
          @for (category of categories; track category.categoryId) {
            <li class="rounded-lg hover:bg-secondary-brand-color hover:text-white">
              <a (click)="setCurrentCategory(category)"
                 routerLink="/products/category/{{category.categoryId}}"
                 routerLinkActive="active"
                 class="flex items-center p-2 text-base font-normal text-gray-900 transition duration-150 ease-in-out rounded-md hover:text-white">
                <span class="ml-3">{{category.categoryName}}</span>
              </a>
            </li>
          }
        </ul>

    </ul>

  </div>
</aside>
