
<div class="mx-auto max-w-2xl text-center mt-3">
  <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Ürün Ekleme</h2>
</div>

  <form [formGroup]="productAddForm" class="mx-auto mt-10 max-w-xl sm:mt-10 mb-40">

    <div class="grid grid-cols-1 gap-x-8 gap-y-6 sm:grid-cols-2">
<!--      Product Name-->
      <div class="sm:col-span-2">
        <label for="productName" class="block text-sm font-semibold leading-6 text-gray-900">Ürün Adı</label>
        <div class="mt-2.5">
          <input type="text" name="first-name" id="productName" formControlName="productName" autocomplete="organization"
                 class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
        </div>
      </div>
<!--  Product Description-->
      <div class="sm:col-span-2">
        <label for="productDescription" class="block text-sm font-semibold leading-6 text-gray-900">Ürün Açıklaması</label>
        <div class="mt-2.5">
          <input type="text" name="productDescription" id="productDescription" formControlName="productDescription"
                 class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
        </div>
      </div>
<!--      Product Price-->
      <div class="sm:col-span-2">
        <label for="productPrice"  class="block text-sm font-semibold leading-6 text-gray-900">Ürün  Fiyatı</label>
        <div class="mt-2.5">
          <input type="number" name="price" id="productPrice" formControlName="productPrice"
                 class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
        </div>
      </div>
<!--      Product Image Link-->
      <div class="sm:col-span-2">
        <label for="productImage" class="block text-sm font-semibold leading-6 text-gray-900">Ürün Linki</label>
        <div class="mt-2.5">
          <input type="text" name="productImage" id="productImage" formControlName="productImage"
                 class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
        </div>
      </div>
      <!--      Product Quantity-->
      <div class="sm:col-span-2">
        <label for="productQuantity" class="block text-sm font-semibold leading-6 text-gray-900">Ürün Adedi</label>
        <div class="mt-2.5">
          <input type="number" name="productQuantity" id="productQuantity" formControlName="productQuantity" min="1"
                 class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
        </div>
      </div>
      <!--      Product BrandId-->
      <div class="sm:col-span-2">
        <label for="productBrandId" class="block text-sm font-semibold leading-6 text-gray-900">Marka Id</label>
        <div class="mt-2.5">
          <input type="number" name="productBrandId" id="productBrandId" formControlName="brandId" min="1"
                 class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
        </div>
      </div>
      <!--      Product CategoryId-->
      <div class="sm:col-span-2">
        <label for="categoryId" class="block text-sm font-semibold leading-6 text-gray-900">CategoriId</label>
        <div class="mt-2.5">
          <input type="number" name="categoryId" id="categoryId" formControlName="categoryId" min="1"
                 class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
        </div>
      </div>


    </div>
    <div class="mt-10">
      <button (click)="add()"
              class="block w-full rounded-md bg-indigo-600 px-3.5 py-2.5 text-center text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
        Ekle
      </button>
    </div>
  </form>


