
  <div class="bg-primary-brand-color p-3 hidden md:block">
    <div class=" flex justify-between items-center container">
      <div class="bg-white flex px-1 py-1 rounded-full border border-blue-500 overflow-hidden mx-auto w-2/5">
        <input type='email' placeholder='Ürün ara...' class="w-full outline-none bg-white pl-4 text-sm" />
        <button type='button'
                class="bg-secondary-brand-color hover:bg-primary-brand-color transition-all text-white text-sm rounded-full px-5 py-2.5 w-1/6">Ara</button>
      </div>
    </div>

  </div>
