<div class="min-w-[700px] max-w-screen-lg p-6">
  <h2 class="text-lg font-semibold mb-4">Geçmiş Siparişlerim</h2>
  <div class="space-y-4">
    <!-- Repeat this block for each order -->
    <div class="flex justify-between items-center p-4 bg-white rounded-lg border shadow-md px-5">
      <div class="flex items-center gap-x-3">
        <mat-icon class="text-primary-brand-color text-2xl">home</mat-icon>
        <div>
          <div class="text-sm ">9 Nis 2023 22:14</div>
          <div class="text-sm  font-medium text-gray-500">Ev</div>
        </div>
      </div>
      <div class="text-right">
        <div class="text-sm text-gray-500">Toplam</div>
        <div class="text-lg font-semibold text-purple-600">₺66,24</div>
      </div>
    </div>

  </div>
</div>


