<div class="container mx-auto p-6 bg-white rounded-xl shadow-lg mt-10 max-w-4xl min-w-[800px]">
  <h3 class="text-xl font-semibold border-b pb-4 mb-4">Ödeme Yöntemlerim</h3>

@for(creditCard of creditCards;track creditCard.id){
  <div class="p-4 flex justify-between items-center">
    <div class="flex items-center">
      <i class="material-icons text-blue-600 text-3xl mr-4">credit_card</i>
      <div>
        <span class="font-semibold text-gray-700 space-y-3">Teb</span>
        <span class="text-sm text-gray-500 block">Kart Numarası: {{creditCard.cardNumber | maskCreditCard}}</span>
        <span class="text-sm text-gray-500 block">Adı: {{creditCard.cardHolderName}}</span>
        <span class="text-sm text-gray-500 block">Son Kullanma :{{creditCard.expiryDate}}</span>
        <span class="text-sm text-gray-500 block">Güvenlik Kodu :{{creditCard.securityCode}}</span>
      </div>
    </div>
    <i (click)="deleteCreditCard(creditCard.id)"
      class="material-icons hover:text-red-600 cursor-pointer">delete</i>
  </div>
}


  <div (click)="toogleAddCreditCardForm()"
    class="border-t pt-4 mt-4">
    <a class="flex items-center p-4 hover:bg-gray-100 rounded-lg transition-colors">
      <i class="material-icons text-primary-brand-color mr-2">add_circle_outline</i>
      <span class="text-gray-700 font-medium">Kredi / Banka Kartı Ekle</span>
    </a>
  </div>
</div>






@if(showAddCreditCardForm){
  <div
    class="max-w-xl mx-auto bg-white rounded-2xl shadow-xl p-8 min-w-[800px]">
    <h3 class="text-3xl font-semibold mb-6 text-gray-800">Yeni Kart Ekle</h3>
    <form [formGroup]="creditCardForm" (ngSubmit)="addCreditCard()" class="space-y-6">
      <!-- Form fields -->
      <input type="text" placeholder="Kart Numarası" formControlName="cardNumber"
             class="w-full p-4 border border-gray-300 rounded-lg focus:ring-blue-500 focus:border-blue-500">
      <input type="text" placeholder="Son Kullanma Tarihi" formControlName="expiryDate"
             class="w-full p-4 border border-gray-300 rounded-lg focus:ring-blue-500 focus:border-blue-500">
      <input type="text" placeholder="CVV" formControlName="securityCode"
             class="w-full p-4 border border-gray-300 rounded-lg focus:ring-blue-500 focus:border-blue-500">
      <input type="text" placeholder="Kart Sahibinin Adı" formControlName="cardHolderName"
             class="w-full p-4 border border-gray-300 rounded-lg focus:ring-blue-500 focus:border-blue-500">
      <button
        type="submit"
        class="w-full bg-primary-brand-color hover:bg-secondary-brand-color text-white font-bold py-3 px-4 rounded-lg focus:outline-none">Ekle
      </button>
    </form>
  </div>

}


