<div
  class="flex flex-col items-center justify-center min-h-[calc(100vh-3.5rem)] px-6 py-12 bg-primary-brand-color from-white to-green-100 lg:px-8">
  <div class="sm:w-full sm:max-w-md w-full">
    <img class="mx-auto h-20 rounded-full" src="../../../../../assets/home/hyperCompany.svg" alt="Your Company">
  </div>

  <div class="mt-10 sm:w-full sm:max-w-md w-full">

    <form class="space-y-6" [formGroup]="registerForm">

      <div class="flex items-center">
        <mat-form-field class="flex-1">
          <mat-label>
            Adınız
            <mat-icon matPrefix>person</mat-icon>
          </mat-label>
          <input formControlName="name" type="text" matInput/>
        </mat-form-field>
      </div>
      <div class="flex items-center">
        <mat-form-field class="flex-1">
          <mat-label>Soyadınız
            <mat-icon matPrefix>person_outline</mat-icon>
          </mat-label>
          <input formControlName="surname" type="text" matInput placeholder="Soyadınız"/>
        </mat-form-field>
      </div>

      <div class="flex items-center">
        <mat-form-field class="flex-1 ">
          <mat-label>
            Email
            <mat-icon matPrefix>email</mat-icon>
          </mat-label>
          <input formControlName="username" type="email"matInput placeholder="Email"/>
        </mat-form-field>
      </div>

      <div class="flex items-center">
        <mat-form-field class="flex-1">
          <mat-label>Parola
            <mat-icon matPrefix>lock</mat-icon>
          </mat-label>
          <input formControlName="password" type="password" matInput placeholder="Parola"/>
        </mat-form-field>
      </div>


      <button (click)="register()"
              class="flex items-center justify-center w-full rounded-md bg-yellow-600 px-4 py-3 text-sm font-semibold text-white transition duration-300 ease-in-out hover:bg-yellow-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
        <mat-icon class="mr-2">login</mat-icon>
        Kayıt Ol
      </button>
    </form>

  </div>
</div>
