<div class="bg-white py-4">
  <div class="container">
    <h3 class="text-sm font-semibold mb-3">Kategoriler</h3>
    <div class="grid grid-cols-3 sm:grid-cols-6 md:grid-cols-8 lg:grid-cols-10 xl:grid-cols-11 2xl:grid-cols-12">

<!--      @for (product of categories; track product) {-->
<!--        <a href="" class="flex group justify-center items-center rounded transition-colors hover:bg-purple-50 flex-col p-4">-->
<!--          <img src="{{ product.image }}" [alt]="product.alt" class="size-12 rounded-lg border border-gray-200 object-cover">-->
<!--          <span class="text-sm font-medium group-hover:text-brand-color tracking-tight whitespace-nowrap">{{product.title}}</span>-->
<!--        </a>-->
<!--      }-->

    </div>
  </div>
</div>
