<div class="flex h-screen bg-gray-100">
  <div class="flex flex-col w-64 bg-white border-r">
    <div class="flex items-center justify-center h-16 shadow-md">
      <h1 class="text-lg font-semibold">Admin Paneli</h1>
    </div>
    <div class="flex flex-col px-4 py-6">
      <a routerLink="userlist" routerLinkActive="routerLinkActive" class="py-2 px-1 text-sm text-gray-700 hover:bg-gray-200 rounded-md">Kullanıcılar</a>
      <a routerLink="productlist" routerLinkActive="routerLinkActive" class="py-2 px-1 text-sm text-gray-700 hover:bg-gray-200 rounded-md">Ürünler</a>
      <a routerLink="categorylist" routerLinkActive="routerLinkActive" class="py-2 px-1 text-sm text-gray-700 hover:bg-gray-200 rounded-md">Kategoriler</a>
      <a routerLink="orders" routerLinkActive="routerLinkActive" class="py-2 px-1 text-sm text-gray-700 hover:bg-gray-200 rounded-md">Verilen Siparişler</a>
    </div>
  </div>
  <div class="flex-1 p-6">

  </div>
</div>
