.routerLinkActive {
  color: #5d3ebc; /* primary-brand-color */
  font-weight: bold;
  border-bottom: 2px solid #5d3ebc; /* primary-brand-color */
  padding-bottom: 0.25rem;
  text-decoration: none;
}
