<div class="flex h-screen bg-custom-lavender">
  <div class="flex flex-col w-64 bg-white">
    <div class="flex items-center justify-center h-16" style="background-color: #4c3398;">
      <h1 class="text-lg font-semibold" style="color: #F3F0FE;">Admin Paneli</h1> <!-- custom-lavender -->
    </div>
    <div class="flex flex-col px-4 py-6">
      <a routerLink="userlist" routerLinkActive="routerLinkActive" class="py-2 text-sm hover:text-secondary-brand-color transition duration-200 ease-in-out">Kullanıcılar</a>
      <a routerLink="productlist" routerLinkActive="routerLinkActive" class="py-2 text-sm hover:text-secondary-brand-color transition duration-200 ease-in-out">Ürünler</a>
      <a routerLink="categorylist" routerLinkActive="routerLinkActive" class="py-2 text-sm hover:text-secondary-brand-color transition duration-200 ease-in-out">Kategoriler</a>
      <a routerLink="orders" routerLinkActive="routerLinkActive" class="py-2 text-sm hover:text-secondary-brand-color transition duration-200 ease-in-out">Verilen Siparişler</a>
    </div>
  </div>
  <div class="flex-1 p-6">
    <!-- Content goes here -->
  </div>
</div>
