<div class="bg-white mb-10 p-3">

  <div class="mx-auto max-w-2xl  sm:px-6  lg:max-w-7xl px-3">

    <div class=" grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
      @for (product of products; track product.productId) {
        @defer (on viewport) {
          <div class="group relative border rounded-lg">
            <div routerLink="/product/{{product.productId}}"
                 class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md lg:aspect-none group-hover:opacity-75 cursor-pointer">
              <img [src]="product.productImage" [alt]="product.productDescription"
                   class="object-cover object-center h-full w-full">
            </div>
            <div class="mt-4 flex flex-col">
              <div class="flex justify-between px-4">
                <a class="truncate">
                  {{ product.productName | titlecase }}
                </a>
                <p class="text-sm font-medium text-gray-900">{{ product.productPrice | currency:'TL':'symbol' }}</p>
              </div>
            </div>
            <button (click)="addToCart(product)"
                    class="w-full bg-secondary-brand-color text-white p-3 rounded bottom-0 transition-all items-center justify-center font-medium hover:bg-brand-color">
              Sepete Ekle
            </button>
            <button (click)="addProductToFavorites(product)"
                    class="hidden absolute top-1 right-1 group-hover:flex text-white hover:text-red-400 border rounded-full p-1 bg-slate-300">
              <mat-icon>favorite</mat-icon>
            </button>
          </div>
        } @placeholder (minimum 500ms) {


          <div role="status" class="max-w-sm p-4 border border-gray-200 rounded shadow animate-pulse md:p-6 ">
            <div class="flex items-center justify-center h-48 mb-4 bg-gray-300 rounded ">
              <svg class="w-15 h-20 text-gray-200 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 20">
                <path d="M14.066 0H7v5a2 2 0 0 1-2 2H0v11a1.97 1.97 0 0 0 1.934 2h12.132A1.97 1.97 0 0 0 16 18V2a1.97 1.97 0 0 0-1.934-2ZM10.5 6a1.5 1.5 0 1 1 0 2.999A1.5 1.5 0 0 1 10.5 6Zm2.221 10.515a1 1 0 0 1-.858.485h-8a1 1 0 0 1-.9-1.43L5.6 10.039a.978.978 0 0 1 .936-.57 1 1 0 0 1 .9.632l1.181 2.981.541-1a.945.945 0 0 1 .883-.522 1 1 0 0 1 .879.529l1.832 3.438a1 1 0 0 1-.031.988Z"/>
                <path d="M5 5V.13a2.96 2.96 0 0 0-1.293.749L.879 3.707A2.98 2.98 0 0 0 .13 5H5Z"/>
              </svg>
            </div>
            <div class="animate-pulse flex items-center justify-center">
              <div class="bg-gray-200 h-10 w-60 rounded-md"></div>
            </div>
            <span class="sr-only">Loading...</span>
          </div>



        }
      }

    </div>
  </div>
</div>
