<aside class="w-64" aria-label="Sidebar">
  <div class="overflow-y-auto py-4 px-3 bg-gray-50 rounded dark:bg-gray-800">
    <ul class="space-y-2">
      <li>
        <h3 class="text-xs uppercase text-gray-500 dark:text-gray-400">
          Kategori
        </h3>
        <ul class="mt-2">
<!--          <li-->
<!--            class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700"-->
<!--              routerLink="/products"-->
<!--              >-->
<!--            <button [class]="getAllCategoryClass()" >-->
<!--             Tüm Ürünler-->
<!--            </button>-->
<!--          </li>-->
          @for (category of categories; track category.categoryId) {
            <li
              class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
              <button class="w-full text-left " (click)="setCurrentCategory(category)"
                      routerLink="/products/category/{{category.categoryId}}"
                      routerLinkActive="active"
              >
                {{ category.categoryName }}
              </button>
            </li>
          }

        </ul>
      </li>
      <!-- Diğer bölümler (Marka, Fiyat Aralığı vs.) burada eklenebilir -->
    </ul>
  </div>
</aside>
