<div class="mt-10 max-w-screen-lg min-w-fit">

  <h3>Adreslerim</h3>

  <div class="grid grid-cols-1 bg-white rounded-2xl px-5 py-4 w-full w-min[800px]">

    <div class="flex gap-x-3 ">
      <mat-icon class=" text-slate-500">home</mat-icon>
      <h3 class="items-center justify-center flex">Ev</h3>
      <p>deneme Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab assumenda blanditiis consequatur culpa cupiditate deserunt distinctio</p>
      <mat-icon class=" text-slate-500">delete</mat-icon>
    </div>
    <hr class="mb-10">
<!--    Address add-->
    <h4 class="font-bold ">Adres Ekle</h4>
    <div class="flex gap-x-3 justify-between ">
      <div class="flex">
        <mat-icon class=" text-slate-500">home</mat-icon>
        <h3 class="items-center justify-center flex font-semibold">Ev adresi ekle</h3>
      </div>
      <mat-icon class=" text-slate-500">add</mat-icon>
    </div>

  </div>

</div>
