<div class="container mx-auto px-4 sm:px-8">
  <div class="py-8">
    <div class="flex flex-row mb-1 sm:mb-0 justify-between w-full">
      <h2 class="text-2xl leading-tight">Kategoriler</h2>
      <div class="text-end">
        <!-- Burada yeni kategori ekleme butonu veya başka işlemler olabilir -->
      </div>
    </div>
    <div class="-mx-4 sm:-mx-8 px-4 sm:px-8 py-4 overflow-x-auto">
      <div class="inline-block min-w-full shadow rounded-lg overflow-hidden">
        <table class="min-w-full leading-normal">
          <thead>
          <tr>
            <th scope="col" class="px-5 py-3 bg-white border-b border-gray-200 text-gray-800 text-left text-sm uppercase font-normal">Kategori Görseli</th>
            <th scope="col" class="px-5 py-3 bg-white border-b border-gray-200 text-gray-800 text-left text-sm uppercase font-normal">Kategori Adı</th>
            <th scope="col" class="px-5 py-3 bg-white border-b border-gray-200 text-gray-800 text-left text-sm uppercase font-normal">Ürün Sayısı</th>
            <th scope="col" class="px-5 py-3 bg-white border-b border-gray-200 text-gray-800 text-left text-sm uppercase font-normal">İşlemler</th>
          </tr>
          </thead>
          <tbody>
          @for(category of categories;track category.categoryId){
            <tr class="hover:bg-gray-100">
              <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                <img [src]="category.categoryImage" alt="Kategori Görseli" class="size-28 rounded-full">
              </td>
              <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                <p class="text-gray-900 whitespace-no-wrap">{{category.categoryName}}</p>
              </td>
              <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                <p class="text-gray-900 whitespace-no-wrap">15</p>
              </td>
              <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                <a href="#" class="text-blue-600 hover:text-blue-800">Düzenle</a>
              </td>
            </tr>
          }

          </tbody>
        </table>


      </div>
    </div>
  </div>
</div>
