:host ::ng-deep .slick-prev::before {
  color: #fcba03;
  font-size: 26px;
  line-height: 1;
  opacity: 1;
  left: -20;
  z-index: 100;
  fill: red;
}

:host ::ng-deep .slick-next::before {
  color: #fcba03;
  font-size: 26px;
  line-height: 1;
  opacity: 1;
  right: 0;
}
