<div class="bg-brand-color z-50">
  <div class="container h-14 flex items-center justify-between md:flex-row">
    <!-- Hyper Company Logo -->
    <a routerLink="/" class="w-40">
      <img src="assets/navbar/header-icons/hyperCompany.svg" alt="Logo">
    </a>

    <!-- Hamburger Icon for Mobile -->
    <div class="md:hidden flex items-center justify-between">
      <button id="menuButton">
        <mat-icon class="text-white fa-2xl">menu</mat-icon>
      </button>
    </div>
    <nav>

    </nav>
    <!-- Navigaation -->
    <nav class="md:flex gap-x-8 text-sm font-semibold hidden">
      <button class="flex items-center gap-x-2  text-white text-opacity-80 transition-all hover:text-opacity-100 ">
        <mat-icon class="text-white">public</mat-icon>
        Türkçe (TR)
      </button>
      @if (authService.isAuthenticated$ | async) {
        <div class="relative">
          <button (click)="toggleMenu()"
                  class="flex items-center gap-x-2 text-white text-opacity-80 transition-all hover:text-opacity-100">
            <mat-icon class="text-white">person</mat-icon>
            Profil
            @if (!isMenuVisible) {
              <svg class="w-4 h-4 text-white" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                   xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
              </svg>
            } @else {
              <svg class="w-4 h-4 text-white" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                   xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 15l7-7 7 7"></path>
              </svg>
            }
          </button>


          @if (isMenuVisible) {
            <!--            Open And Close-->
            <div class="w-64 absolute z-50 right-0 top-7 tracking-wide">
              <div class="flex items-center p-4 bg-custom-lavender">
                <div class="rounded size-12 bg-white flex items-center justify-center overflow-hidden">
                  <mat-icon class="text-violet-200 text-2xl">person</mat-icon>

                </div>
                <div class="ml-3 space-y-2">
                  <div class="font-thin text-md text-black">Deniz Sullu</div>
                  <div class="text-slate-400 text-xs">+905418509323</div>
                </div>
              </div>
              <div class=" bg-white text-black font-normal z-50">
                <a href="#"
                   class="block px-4 py-2 hover:bg-custom-lavender hover:text-secondary-brand-color">Adreslerim</a>
                <a href="#" class="block px-4 py-2 hover:bg-custom-lavender hover:text-secondary-brand-color">Favori
                  Ürünlerim</a>
                <a href="#" class="block px-4 py-2 hover:bg-custom-lavender hover:text-secondary-brand-color">Geçmiş
                  Siparişlerim</a>
                <a href="#" class="block px-4 py-2 hover:bg-custom-lavender hover:text-secondary-brand-color">Ödeme
                  Yöntemlerim</a>
                <a href="#" class="block px-4 py-2 hover:bg-custom-lavender hover:text-secondary-brand-color">Fatura
                  Bilgileri</a>
                <a href="#" class="block px-4 py-2 hover:bg-custom-lavender hover:text-secondary-brand-color">İletişim
                  Tercihlerim</a>
                <hr class="">
                <a
                  (click)="logout()"
                  class="block px-4 py-3 mb-2 hover:bg-custom-lavender hover:text-secondary-brand-color">Çıkış
                  yap
                </a>
              </div>
            </div>
          }
        </div>
        <!-- Cart-->
        <button (click)="toggleCart()"
                class="flex items-center gap-x-2 text-white text-opacity-80 transition-all hover:text-opacity-100 relative">
          <mat-icon class="text-white">shopping_cart</mat-icon>

          Sepet
          @if (CartItems.length) {
            <div [matBadge]="CartItems.length" matBadgeSize="medium" class="absolute top-0 -left-2"
                 matBadgeColor="accent"></div>
          }

        </button>
        @if (isCartVisible) {
          <app-navbar-cart (closeCart)="toggleCart()"></app-navbar-cart>
        }
      } @else {
        <button
          routerLink="/login"
          class="flex items-center gap-x-2 text-white text-opacity-80 transition-all hover:text-opacity-100">
          <mat-icon class="text-white">person</mat-icon>
          Giriş Yap
        </button>
        <button
          routerLink="/register"
          class="flex items-center gap-x-2 text-white text-opacity-80 transition-all hover:text-opacity-100">
          <mat-icon class="text-white">person_add</mat-icon>
          Kayıt Ol
        </button>
      }


    </nav>
  </div>
</div>
