<div class="bg-white mb-10 p-3">

  <div class="mx-auto max-w-2xl  sm:px-6  lg:max-w-7xl px-3">

    <div class=" grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
      @for (product of products; track product.productId) {
        @defer (on viewport) {
          <div class="group relative border rounded-lg">
            <div routerLink="/product/{{product.productId}}"
                 class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md lg:aspect-none group-hover:opacity-75 cursor-pointer">
              <img [src]="product.productImage" [alt]="product.productDescription"
                   class="object-cover object-center h-full w-full">
            </div>
            <div class="mt-4 flex flex-col">
              <div class="flex justify-between px-4">
                <a class="truncate">
                  {{ product.productName | titlecase }}
                </a>
                <p class="text-sm font-medium text-gray-900">{{ product.productPrice | currency:'TL':'symbol' }}</p>
              </div>
            </div>
            <button (click)="addToCart(product)"
                    class="w-full bg-secondary-brand-color text-white p-3 rounded bottom-0 transition-all items-center justify-center font-medium hover:bg-brand-color">
              Sepete Ekle
            </button>
            <button (click)="addToFavorite(product)"
                    class="hidden absolute top-1 right-1 group-hover:flex text-white hover:text-red-400 border rounded-full p-1 bg-slate-300">
              <mat-icon>favorite</mat-icon>
            </button>
          </div>
        } @placeholder (minimum 500ms) {
          <div class="w-[250px] flex items-center justify-center">
            <mat-progress-spinner mode="indeterminate"/>
          </div>
        }
      }

    </div>
  </div>
</div>
