<div class="container">
<div class="container bg-brand-color pl-10 pt-10 pr-10 pb-10 md:pb-0 flex flex-col sm:flex-row items-center sm:pl-12 justify-between bg-mobile-app rounded-lg  bg-[url('https://cdn.getir.com/getirweb-images/common/illustration/doodle.png')]">
  <div class="text-white pl-5 pt-5 pr-5 sm:p-0 text-center sm:text-left flex flex-col items-center justify-center gap-x-4 gap-y-4">
    <div class="self-start">
    <h3 class="text-2xlxl	tracking-tighter font-bold ">Getir'i indir!</h3>
    <p class=" text-xs sm:text-base mt-3 text-white">
      İstediğiniz ürünleri dakikalar içinde kapınıza <br/> getirelim.
    </p>
    </div>
    <div class="flex gap-x-4 flex-col md:flex-row gap-y-5">
      <a href="#">
        <img
          src="https://getir.com/_next/static/images/appstore-tr-141ed939fceebdcee96af608fa293b31.svg"/>
      </a>
      <a href="#">
        <img
          src="https://getir.com/_next/static/images/googleplay-tr-6b0c941b7d1a65d781fb4b644498be75.svg"/>
      </a>
      <a href="#">
        <img
          src="https://getir.com/_next/static/images/huawei-appgallery-tr-4b890fa3167bc62f9069edaf45aa7f30.svg"/>
      </a>
    </div>
  </div>
  <div class="self-end mt-4 hidden xl:flex">
    <img src="https://cdn.getir.com/getirweb-images/common/landing/phoneLanding.png"/>
  </div>
</div>
</div>
